@import "app/styles/app";

.google-map {
    display: flex;
    justify-content: center;

    &__frame {
        width: 500px;
        height: 300px;
    }
}

@include xl-screen{
    .google-map{
        max-width: 100%;
        margin-top: 20px;

        &__frame{
            width: 90%;
            height: 300px;
        }
    }
}

@include md-screen{
    .google-map{
        &__frame{
            width: 90%;
            height: 300px;
        }
    }
}
